<!DOCTYPE html>
<html>

<head>
    <title>About</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    {{>header}}
    <div class="main-content">
        <p>Created by Sajith Pradeep using the incredible Node Course of Andrew Mead using map box and weather api</p>
        <img src="/img/me.png" alt="">
        <p>Kudos to the instructor Mr. {{name}}</p>
    </div>
    {{>footer}}
</body>

</html>